/* @import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Nunito+Sans&display=swap');

*{
    box-sizing: border-box;
}
 
.main_block{
    width: 100% !important;
    height: 100% !important;
    background-color: #000;
    /* background-image: url(https://static3.bigstockphoto.com/8/3/2/large2/238178938.jpg);
    background-size: cover;
    background-attachment: fixed; */
    color: beige;
    font-family: 'Nunito Sans', sans-serif;
}

.section_options{
    width: 100% !important;
    height: 40% !important;
}














.section_pizza{
    width: 100% !important;
    height: 60% !important;
}



.section_pizza .main_pizza_block{
    width: 100% !important;
    height: 100% !important;
    background-color: black;
    display: flex;
}

.section_pizza .main_pizza_block .order_block{
    width: 25% !important;
    height: 100% !important;
    /* background-color: gainsboro; */
    /* display: flex;
    align-items: flex-end;
    justify-content: center; */
    /* padding-bottom: 20px; */
}

.section_pizza .main_pizza_block .order_block .addBlock{
    width: 100% !important;
    height: 17% !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.section_pizza .main_pizza_block .order_block .addBlock h3{
    /* text-align: right; */
    width: 80%;
    height: 100%;
    font-size: larger;
    color: springgreen;

}

.section_pizza .main_pizza_block .order_block .order_block_price{
    width: 100% !important;
    height: 30% !important;
    display: flex;
    align-items: center;

}

.section_pizza .main_pizza_block .order_block .order_block_price div{
    width: 100% !important;
    height: 60% !important; 
}

.section_pizza .main_pizza_block .order_block .order_block_price .boldPrice{
    font-size: large;
}

.section_pizza .main_pizza_block .order_block .order_block_price .price{
    font-size: larger;
    color: chartreuse;

}

.section_pizza .main_pizza_block .order_block .order_block_price button{
    margin-top: 20px;
    border: 2px dashed greenyellow;
    font-size: medium;
    padding: 5px 10px;
    color: greenyellow;
    background-color: rgba(155, 249, 171, 0.3);
    border-radius: 10px;
    width: 80px;
}
