/* @import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Nunito+Sans&display=swap');

*{
    box-sizing: border-box;
}
 
.main_block{
    width: 100% !important;
    height: 100% !important;
    background-color: #000;
    /* background-image: url(https://static3.bigstockphoto.com/8/3/2/large2/238178938.jpg);
    background-size: cover;
    background-attachment: fixed; */
    color: beige;
    font-family: 'Nunito Sans', sans-serif;
}

.section_options{
    width: 100% !important;
    height: 40% !important;
}














.section_pizza{
    width: 100% !important;
    height: 60% !important;
}

.section_pizza .total_price_block{
    width: 100% !important;
    height: 20% !important;
    /* background-color: chartreuse; */
    
}

.section_pizza .main_pizza_block{
    width: 100% !important;
    height: 80% !important;
    background-color: black;
    display: flex;
}

.section_pizza .main_pizza_block .pizza_block{
    width: 75% !important;
    height: 100% !important;
}

.section_pizza .main_pizza_block .pizza_block .pizza{
    width: 340px !important;
    height: 340px !important;
    border-radius: 50%;
    /* background-color: rgb(238, 198, 20); */
    position: relative;
    left: -20%;
    top: -20%;
    overflow: hidden;
}

.ss{
    width: 340px !important;
    height: 340px !important;
    position: absolute;
    top: 0;
    left: 0;

}

.section_pizza .main_pizza_block .order_block{
    width: 25% !important;
    height: 100% !important;
    /* background-color: gainsboro; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
}

.section_pizza .main_pizza_block .order_block .order_block_item{
    width: 100% !important;
    height: 30% !important;
}

.section_pizza .main_pizza_block .order_block .order_block_item .boldPrice{
    font-size: large;
}

.section_pizza .main_pizza_block .order_block .order_block_item .price{
    font-size: larger;
    color: chartreuse;

}

.section_pizza .main_pizza_block .order_block .order_block_item button{
    margin-top: 20px;
    border: 2px dashed greenyellow;
    font-size: medium;
    padding: 5px 10px;
    color: greenyellow;
    background-color: rgba(155, 249, 171, 0.3);
    border-radius: 10px;
    width: 80px;
}