.section .row .option_ings_blocks .ing_block .add_div .ing_item_block{
    height: 98% !important;
    width: 75px !important;
    /* width: 30% !important; */
    /* background-color: rgba(255, 255, 255, 0.4); */
    margin-right: 20px;
    border-radius: 10px;
    border: 3px dashed chartreuse;
    /* padding: 0px 3px; */
}

.section .row .option_ings_blocks .ing_block .add_div .ing_item_block_selected{
    background-color: rgba(155, 249, 171, 0.3);
}

.section .row .option_ings_blocks .ing_block .add_div .ing_item_block .ing_image{
    height: 60% !important;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section .row .option_ings_blocks .ing_block .add_div .ing_item_block .ing_image img{
    width: 60% !important;
}

.section .row .option_ings_blocks .ing_block .add_div .ing_item_block .ing_label{
    height: 40% !important;
    width: 100% !important; 
    /* background-color: rgb(184, 98, 98); */
}

.section .row .option_ings_blocks .ing_block .add_div .ing_item_block .ing_label .label{
    text-align: center;
    font-size: small;
}

.section .row .option_ings_blocks .ing_block .add_div .ing_item_block .ing_label .price{
    text-align: center;
    font-size: xx-small;
    color: burlywood;
}

.close{
    width: 20px !important;
    height: 20px !important;
    position: absolute;
    left: 70%;
    top: 3%;
    /* background-color: #f00; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.close:active{
    background-color: chartreuse;
    border-radius: 50%;
}

.close img{
    width: 20px !important;
    height: 20px !important;
}